<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.SICAP_2014ConnectionString"
            connectionString="Data Source=JORGE-TORRES-PC\SQL2012;Initial Catalog=SICAP-2014;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.SICAP_2014ConnectionString1"
            connectionString="Data Source=;Initial Catalog=SICAP-2014;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.probandoConnectionString"
            connectionString="Data Source=JORDI-PC;Initial Catalog=probando;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.SICAP_2014ConnectionString2"
            connectionString="Data Source=JORDI-PC;Initial Catalog=SICAP-2014;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>